/* app css stylesheet */
/*


*/
.login-container {
   position: absolute; 
   left: -10px;
   top: -10px;
   padding: 0 0 0 0em;
   background-color: lightgrey;   
}
#QEST-LAYOUT {  
    
}
.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}
.content-window{
    position: relative;
    width: 100%;
    top: 50px;   
    display: block;
    margin: 0 auto;
}
.photo {
    overflow: hidden;
    width: 250px;
    height: 250px;


    border-radius: 15%;
}
.photo-thumb {
      width: 60px;
    border-radius: 15%;
   
    top: -9999px;
    bottom: -9999px;    
    margin: auto;
   
 
}
.photo-thumb img {
  
}

.photo-icon {
    width: 60px;
    border-radius: 15%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;    
    margin: auto;
   
}
.photo img {
    width:250px;
    display: block;
    margin: 0 auto;
    background-color: black;
}
.associate {
    overflow: hidden;
    height: 50px;
    position: relative;
    vertical-align: middle;

}
.associate:hover {
    background-color: #d7d7d7;
    cursor: pointer;
}
.feedback-card {
    height: 60px;
}
.associate span {
  position:absolute;
  vertical-align: middle;
   margin: auto;
}
.associate-name {
  left:70px;
  top:10px;
  color: #00659c;
}
.associate-value {
    
}
.left {
    height: 100%;
    float:left;  
    width: 50%;
    clear:both;
}

.right {    
    height: 100%;
}

.navbar-brand-icon{
    width: 100px;
}
.feedback-questions {
    color: #00659c;
   
}
.feedback-content {
    font-size: 110%;
}
.feedback-value {
    
    color: #00659c;
    font-size: 150%;
}
.status{
   font-size: 13px;
}

